*,
*::before,
*::after {
    box-sizing: border-box;
}
$lt-blue: #7DB7CC;
$dk-blue: #19608f;
$dashboard-blue: #0d6efd;
$information: #00AEEF;
$information-hover: #02BFFF;
// $DCSD-logo-green: #84ae30; // old - does not pass
// $DCSD-logo-green: #94B741; // this is the color from district site (see kellys screen shot)
$DCSD-logo-green: #577d00; // darker green but does pass in FF
$text: #414042;
$white: #EDEDED;
$shadow: #818181;
$shadow2: #525151;
$red: #CB321A;
$green: #C7CC68;
$highlight: #FDF9D0;
$important: #FEBF31;
$grey0: #EDf0F1;
$grey0b: #e8e8e8; // new grey color
$grey1: #D1D3D4;
$grey2: #A7A9AC;
$grey3: #808080;
$grey3a: #707070;
$grey4: #636161;
$grey4a: #444343;
$grey5: #333;
$pale-blue: #C0DEF0;
$pearl-blue: #0669B3;
$pearl-blue-hover: #1786DB;
$lt-pearl-blue: #63AEDE;
$lt-pearl-blue-hover: #4589B3;
$accessibility-red: rgb(218, 18, 18);
